// Place all the styles related to the guests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.attending, .not_attending, .unconfirmed {
	padding: 5px;
}

.attending {
 	background-color: lightskyblue;
}

.not_attending {
 	background-color: lightcoral;
}