// Place all the styles related to the guests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.attending {
 	background-color: lightskyblue;
  padding: 4px;
}

.not_attending {
 	background-color: lightcoral;
  padding: 4px;
}